.wrapper{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(36deg, #84b3af, white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.welcome{
    letter-spacing: 1px;
    background: #719e9a;
    padding: 60px 150px 120px 90px;
    border-radius: 5px;
    box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.25);
}
.login-btn{
    font-family: 'Reem Kufi', sans-serif;
    padding: 12px 30px;
    border-radius: 3px;
    border: none;
    background: black;
    color: white;
    font-size: 16px;
    letter-spacing: 3px;
    box-shadow: -4px 4px 12px #00000054;
}